extends layout

block content
      h1= title
      p Welcome to #{title}
      
      unless auth
        p
        a(href='/auth') auth ur device
        p
        a(href='/register/generate') register your device
      
      if auth
        p Auth status: #{auth}
        if auth.ok
          opening doors      
